{% extends "base_generic.html" %}

{% block title %}Gestionar Menú{% endblock %}

{% block content %}
<div class="container">
    <h2>Gestión del Menú</h2>
    <a href="{% url 'agregar_producto' %}" class="btn btn-success mb-3">Agregar Producto</a>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Disponible</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.descripcion }}</td>
                <td>{{ producto.precio |floatformat:0 }}</td>
                <td>{{ producto.disponible|yesno:"Sí,No" }}</td>
                <td>
                    <div class="d-flex justify-content-around">
                    <a href="{% url 'editar_producto' producto.id %}" class="btn btn-warning btn-lg custom-button">
                        <i class="bi bi-pencil-fill"></i>
                    </a>
                    <a href="{% url 'eliminar_producto' producto.id %}" class="btn btn-danger btn-lg custom-button">
                        <i class="bi bi-trash-fill"></i>
                    </a>
                </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'inicio' %}" class="btn btn-primary">Volver al Inicio</a>
</div>
{% endblock %}
